*{
    box-sizing: border-box;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: darkred; 
    margin: 1em auto;
    text-align: center; 
}

body {
    width: 90%; 
    margin: 0 auto; 
}

p, a {
    color: blue; 
    font-size: x-large;
}

img {
    border: 3px solid gray; 
    margin: 1em auto; 
    align-content: center;
}

table {
    background-color: rgb(192, 138, 185);
    color: yellow; 
    border: 4px dotted green; 
}
