* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: 	rgb(148, 173, 194); 
}

a {
    color: rgb(67, 204, 214); 
}

.box {
    border-radius: 10px;
    padding: 20px;
}

#wrapper{
    width: 970px;
    padding: 20px;
    background-color: rgb(27, 52, 93);
    margin: 0px auto; 
}

#header{
    border: 1px solid red; 
    background-color: red; 
    margin: 10px auto;
}

#navigation {
    background-color: rgb(8, 126, 138);
    display: inline-block;
    margin-top: 10px; 

}

main {
    width: 665px; 
    background-color: black;
    display: inline-block; 
    vertical-align: top;
    margin: 10px; 

}

main li {
    margin-left: 1em; 
}

span {
    color: 	rgb(96, 114, 193);
}

.outer-list {
    list-style-type: disc;
    margin-left: 1em; 
}

.inner-list {
    list-style-type: circle;
    margin-left: 2em;
}

footer {
    background-color: rgb(92, 102, 114); 
}