* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#wrapper {
    width: 90%;
    margin: 0 auto; 
}

#logo img {
    height: 6rem;
    width: 6rem;
}

#logo a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 3rem; 
    align-items: center;
}

#logo span {
    color: rgb(76, 129, 170); 
}

nav {
    background-color: rgb(76, 129, 170);
    color: white; 
    font-size: 2rem;
    padding: 1rem; 
}

#container {
    display: flex;
}

#side-bar {
    width: 33%;
    padding: 2rem; 
}

button {
    width: 100%; 
    font-size: 1rem; 
    margin: .25rem; 
    padding: .5rem;
    color: white; 
}

#vidbutton {
    background-color: rgb(76, 129, 170);
}

#resourcebutton {
    background-color: rgb(236, 159, 61);
}

#side-bar h3 span {
    color: red; 
}

#side-bar p span {
    color: rgb(76, 129, 170); 
}

#ad {
    background-image: url(images/ad_background.png);
    color: white; 
    text-align: center;
    padding: 2rem; 
}

#ad img{
    height: 6rem;
    width: 4rem;
}

#ad p {
    font-size: 1rem;
}

#learnmore {
    background-color: lightblue; 
}

#maincontent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

#maincontent-logo img {
    height: 2rem;
    width: 2rem;
}

#maincontent-contact {
    display: flex; 
    align-items: center;
}

#maincontent-contact img {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

#article-footer {
    display: flex;
    border: 4px solid blue; 
}